<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="pagtitles">Jude</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Jude</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card-container">
    <ion-card class="card" *ngFor="let card of cards" (click)="goTo(card.url)">
      <ion-card-header>
        <ion-card-title>{{card.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      {{card.content}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>



