<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Enterprise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Enterprise</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="data-container">
    <ion-toolbar class="ion-toolbar">
      <ion-searchbar class="custom" placeholder="Buscar" (ionInput)="setSearch($event)"></ion-searchbar>
    </ion-toolbar>

    <div>
      <ion-item>
        <b>Busqueda Actual:</b> &nbsp; {{currentSearchTerm}}
        <ion-buttons *ngIf="currentSearchTerm">
          <ion-button (click)="clearSearchTerm()">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div>

    <div>
      <span *ngFor="let optionButton of optionButtons; index as i">
        <ion-chip color="primary" *ngIf="i == selectedButtonIndex">
          <ion-icon [name]="optionButton.icon"></ion-icon>
          <ion-label>{{optionButton.text}}</ion-label>
          <p><b>{{i}}</b></p>
        </ion-chip>

        <ion-chip *ngIf="i != selectedButtonIndex" (click)="selectOption(optionButton, i)">
          <ion-icon [name]="optionButton.icon"></ion-icon>
          <ion-label>{{optionButton.text}}</ion-label>
          <p><b>{{i}}</b></p>
        </ion-chip>
      </span>
    </div>

    <ion-item>
      <div *ngIf="selectedButtonIndex == 1">
        <ion-checkbox [(ngModel)]="listStatus">
          <span *ngIf="listStatus">Empresas Activadas</span>
          <span *ngIf="!listStatus">Empresas Desactivadas</span>
        </ion-checkbox>
     </div>

      <div *ngIf="selectedButtonIndex == 2">
        <h1>payment status</h1>
     </div>

     <div *ngIf="selectedButtonIndex == 3">
      <h1>expirados</h1>
     </div>

     <div *ngIf="selectedButtonIndex == 4">
      <h1>dias cerca</h1>
     </div>

     <ion-button slot="end" (click)="selectFilterOption()">Filtrar</ion-button>
    </ion-item>

    <div style="margin-top:20px; border-bottom: 1px solid #EFF3FB; cursor: pointer;" *ngFor="let enterprise of enterprises">
      <ion-item class="item-options" lines="none">
        <ion-avatar>
          <img src="https://avatars.githubusercontent.com/u/52795648?v=4">
        </ion-avatar>
        <ion-label style="margin-left: 20px;"><b>{{enterprise.name}}</b></ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <div style=" padding-bottom: 10px;">
        <ion-chip style="margin-left: 15px;">
          <ion-icon name="cash-outline"></ion-icon>
          <ion-label><b>PaymentStatus</b>: {{getPaymentStatus(enterprise.paymentStatus)}}</ion-label>
        </ion-chip>
      </div>
    </div>
  </div>
</ion-content>
