.card{
    width: 50%;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 60px;
    color: blue;
}

.mi-clase{
    color: green;
}

ion-item{
    span{
        margin-left: 10px
    }
}