.split-pane-md.split-pane-visible>.split-pane-side {
  min-width: 19vw;
  max-width: 0%;
  margin: 0%;
  border-right: 1px solid #182d5c;
}

/* */

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #111926));
}

ion-menu ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
 
}

ion-menu ion-list {
  padding: 20px 0;
  background-color: #111926;

}

ion-menu ion-note {
  margin-bottom: 30px;
}

ion-menu ion-list-header,
ion-menu ion-note {
  padding-left: 10px;
}

ion-menu ion-list#inbox-list {
  border-bottom: 0px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu ion-list#inbox-list ion-list-header {
  font-size: 40px;
  color: white;
  //font-weight: 600;
  min-height: 20px;

}

ion-menu ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;



  min-height: 26px;
}

ion-menu ion-item ion-icon{
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;


}

ion-menu ion-item {
  --color : white;
}

ion-menu ion-item:hover {
  --background : rgba(128, 128, 128, 0.205);
}

ion-menu ion-item.selected  {
  //--background: rgba(var(--ion-color-primary-rgb), 0.14);
  
  --background-hover: rgba(128, 128, 128, 0.205);;
  --color :  rgb(3, 148, 245)

}

ion-menu ion-item.selected ion-icon {
  color: rgb(3, 148, 245)

}

ion-menu ion-item ion-icon {
 color: white;
}

ion-menu ion-item ion-label {
  //font-weight: 500;
  // font-family: "Roboto";
}


ion-note {
  display: inline-block;
  font-size: 15px;
  color: white;
}

//al hacer click
ion-item.selected {
  --color: rgba(128, 128, 128, 0.205);

}

ion-item {
  --background :transparent;
}

.logo-menu-container{
  width: 70%;
  margin-left: 5%;
  margin-bottom: 40px;
}

.logo-menu-container-small{
  width: 70%;
  margin-left: 15%;
  margin-bottom: 40px;
}